<div *ngIf= "hasData; else elseBlock">
  <p-table #dt [columns]="cols" [value]="auditList" [(selection)]="selectedRow">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns"  >
            {{col.header}} 
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td> 
        </tr>
      </ng-template> 
    </p-table>
</div>
<ng-template #elseBlock> <i class="fa fa-info-circle"></i> No Audit Log found! </ng-template>
<br>
<a (click)="onClose()" class="btn btn-warning buttonright">Close</a>