.email{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 5px;
}
.emailinput{
    width: 350px;
    margin: 0 0 2px 0;
}
.emailfield{
    width: 350px;
}
.signin{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signin>*{
    margin: 5px 0 5px 0;
}
.singbtn{
    width: 250px;
    background: #518EF8;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}
.signinbottom{
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    width: 320px;
    margin: 0 5px 0 5px;
}
.passwordinput{
    width: 350px;
    margin: 0 0 2px 0px;
}
.linkedin>.divide{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 350px;
    margin: 0 0 5px 0;
}
.line{
    height: 0;
    width: 150px;
    border: .5px solid #C9C5C5;
    margin: 10px 0 0 0;
}
.linkedinbtn{
    height: 40px;
    width: 280px;
    background: transparent;
    border: 1px solid;
    outline: none;
    display: flex;
    align-items: space-between;
    justify-content: space-around;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0 30px 0;
    color: #433C3C;
    text-align: center;
}
.linkedinbtn>span{
    line-height: 30px;

}
.linkedin{
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    margin: 20px 0px 0px 0;
}
.linkedinbtn>svg{
    height: 30px;
    width: 30px;
}
.email>svg{
    fill: rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    fill-opacity: .5;
}
.signinbottom>a{
    color: #433C3C;
}
mat-checkbox{
    color: #433C3C;

}